<div class="menu-container">
  <div class="menu-item poinks-player2" (click)="changeLayout(2)"
       [routerLink]="[ '/', { outlets: { primary: ['points'], menu: ['mainMenu']}}]"
  ></div>
  <div class="menu-item poinks-player3" (click)="changeLayout(3)"
       [routerLink]="[ '/', { outlets: { primary: ['points'], menu: ['mainMenu']}}]"
  ></div>
  <div class="menu-item poinks-player4" (click)="changeLayout(4)"
       [routerLink]="[ '/', { outlets: { primary: ['points'], menu: ['mainMenu']}}]"
  ></div>
</div>