<div class="dice-container">
  <div class="dice-perspective">
    <div class="dice" (tap)="rotateDice()">

      <div class="cube front">
        <div class="one">
          <div class="dot">&nbsp;</div>
        </div>
      </div>

      <div class="cube top">
        <div class="diagonal">
          <div class="dot">&nbsp;</div>
          <div class="dot">&nbsp;</div>
        </div>
      </div>

      <div class="cube left">
        <div class="diagonal">
          <div class="dot">&nbsp;</div>
          <div class="dot">&nbsp;</div>
          <div class="dot">&nbsp;</div>
        </div>
      </div>

      <div class="cube right">
        <div class="four">
          <div class="dot">&nbsp;</div>
          <div class="dot">&nbsp;</div>
          <div class="dot">&nbsp;</div>
          <div class="dot">&nbsp;</div>
        </div>
      </div>

      <div class="cube bottom">
        <div class="five">
          <div class="dot">&nbsp;</div>
          <div class="dot">&nbsp;</div>
          <div class="dot">&nbsp;</div>
          <div class="dot">&nbsp;</div>
          <div class="dot">&nbsp;</div>
        </div>
      </div>

      <div class="cube back">
        <div class="six">
          <div class="dot">&nbsp;</div>
          <div class="dot">&nbsp;</div>
          <div class="dot">&nbsp;</div>
          <div class="dot">&nbsp;</div>
          <div class="dot">&nbsp;</div>
          <div class="dot">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>