@import "variables";
@import "menu";
@import "../assets/fonts/poinksFont/poinksFont";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial;
  color: $font-color;
}

.pointer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  .player {
    flex: 1;
    background-color: $background-color;
  }
  
  .splitter {
    height: auto;
    background: $menu-color;
  }
}

.upsidedown-true {
  transform: rotate(180deg);
}
