@import "variables";
@import "menu";
@import "playerHandling";
@import "../assets/fonts/poinksFont/poinksFont";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial;
  color: $font-color;
}
