@import "../styles/variables";

@mixin hide-menu() {
  height: $splitter-height-closed;
  top: calc(50% - (#{$splitter-height-closed} / 2));
}

@mixin show-menu {
  height: $splitter-height-open;
  top: calc(50% - (#{$splitter-height-open} / 2));
}

.app-container {
  height: 100%;
  position: relative;
  
  // splitter-routing-outlet
  // - menu-with-logic
  // - positioning
  .splitter {
    position: absolute;
    top: 50%;
    width: 100%;
    background: $menu-color;
    z-index: 2;
    transition: height 1s, top 1s;
    
    @include hide-menu();
  
    &.show-menu {
      @include show-menu();
    }
  }
}
