.point-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

  .points {
    position: absolute;
    font-size: 12rem;
  }
  
  .point-manipulator{
    flex: 1;
    height: 100%;
    font-size: 3rem;
  
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }
  
  .remove-points {
    span {
      margin-right: 70px;
    }
  }
  
  .add-points {
    span {
      margin-left: 70px;
    }
  }
}
